body{
    background-color: honeydew;
}
.footer-fixed{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.base-main-content{
    background: url("../img/index_page_img.jpg") !important;
    background-size: 100% 100% !important;
}

.base_nav_menu{
    margin-bottom: 0px;
}

.dropdown-menu{
    /*min-width:100%*/
}
.detail{
 display: table-cell;
}

.login{
    background: url("../img/login-background.jpg") no-repeat center fixed;
    background-size: cover;
}

.base-dept{
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.base-dept-left{
    width: 20%;
}

.base-dept-right{
    width: 75%;
    margin-left: 4%;
}

.base-user-right{
    width: 75%;
    margin-left: 4%;
}



.mag-top{
    margin-top: 50px;
}
.submit{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.red{
    color: red;
}

.choice-tree{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.role-exec{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}